html,body{
background-image: url('perpus.jpg');
opacity: 91%;
background-size: cover;
background-repeat: no-repeat;
height: 100%;
width: 100%;
font-family: 'Numans', sans-serif;
position: fixed;
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: rgba(83, 181, 181, 0.11); 
  /*background-color: #53b5b5;*/
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 100;
}

.jumbotron .container {
  max-width: 70rem;
  margin-top: 0;
  margin-bottom: 0;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.navbar {
  background-color: #499e9e;
  margin-bottom: 0;
}

