/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 0;
  position: fixed;
  width: 100%;
}

.jumbotron {
  background-image: url('Landmark.jpg');
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 220px;
}