:root {
  --input-padding-x: .75rem;
  --input-padding-y: .75rem;
}

html,
body {
  /*padding-top: 3.5rem;*/
  height: 100%;
}

body {
/*  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;*/
  padding-top: 30px;
  padding-bottom: 30px;
  /*background-color: #53b5b5;*/
  background: linear-gradient(#53b5b5, #ebe72f);
}

.form-signin {
  width: 100%;
  max-width: 350px;
  padding: 15px;
  margin: 0 auto;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

.jumbotron {
  width: 50%;
  padding: 110px;
  margin: 0 auto;
}

.page-footer {
  background-color: #ebe72f;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.container {
  min-height: 100%;
}

.gradient1 {
  background: linear-gradient(red, green); /* Standard syntax */
  background: -webkit-linear-gradient(red, green); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(red, green); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(red, green); /* For Firefox 3.6 to 15 */
}

/*.alert {
  display: inline-block;
}*/